input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
}
label{
  font-family:sans-serif;
  font-weight: normal;
}
button{
  background-color: #4F81BD;
  color: white ;
}
