<br/>
<h3 style="font-family: Helvetica; color: #4F81BD; font-weight: bold;">Personal Details</h3>

<div class="container">
<form>
  <div class="control-group row">

    <div class="col">
      <!-- E-mail -->
      <label for="email">First Name</label>
      <div class="controls">
        <input type="text" name="email" placeholder="" >
      </div>
    </div>

    <div class="col">
      <!-- E-mail -->
      <label for="email">Last Name</label>
      <div class="controls">
        <input type="text" name="email" placeholder="">
      </div>
    </div>

  </div>

    <div class="control-group row">

      <div class="col">
      <!-- E-mail -->
      <label class="control-label" for="email">Address</label>
      <div class="controls">
        <input type="text" id="" name="email" placeholder="" class="input-xlarge">
      </div>
      </div>

      <div class="col">
        <!-- E-mail -->
        <label class="control-label" for="email">State</label>
        <div class="controls">
          <input type="text" id="" name="email" placeholder="" class="input-xlarge">
        </div>
      </div>

    </div>

  <div class="control-group row">

    <div class="col">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="col">
      <!-- E-mail -->
      <label class="control-label" for="email">Phone Number</label>
      <div class="controls">
        <input type="text" id="STATE" name="email" placeholder="" class="input-xlarge">
      </div>
    </div>

  </div>

    <div class="control-group">
      <!-- Button -->
      <br/>
      <div class="controls">
        <button class="btn ">Save</button>

        <button class="btn">Save & next</button>
      </div>
    </div>

</form>
</div>


